header,
section {
	height: 100vh;
}

nav {
	position: absolute;
	display: none;
	left: -200px; /* push off the screen to the left for future animation */
	top: 0;
	height: 100vh;
	z-index: 999;
	max-width: 480px;
	background: $navtext;
	// padding: 0 15px;
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	a {
		display: block;
		padding: 0.75em 15px;
		line-height: 1em;
	}
}
.icons {
	padding: 20px 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		&:hover {
			transform: scale(1.1);
		}
	}
}

footer {
	padding: 20px 0;
	text-align: center;
}

i {
	font-size: 20px;
	padding: 10px 5px;
}

// hamburger menu https://codepen.io/markcaron/pen/pPZVWO

.menu-toggle {
	display: inline-block;
	padding: 0.75em 15px;
	line-height: 1em;
	font-size: 1em;
}

.main-menu a.menu-close {
	border-bottom: 0;
	color: $prmtext;
}

.main-menu .menu-close {
	position: absolute;
	right: 5px;
	top: 0;
	span {
		color: $prmtext;
	}
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
	left: 0; /* slide from -200px to the left edge at 0 */
	outline: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: left 1s ease, box-shadow 1s ease;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
	z-index: 1001;
	color: rgb(85, 78, 78);
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
	position: relative;
	z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 998;
	background: $navtext;
	cursor: default;
}

@supports (position: fixed) {
	.main-menu,
	.main-menu:target + .backdrop,
	.main-menu[aria-expanded="true"] + .backdrop {
		position: fixed;
	}
}
