@font-face {
	font-family: "NimbusSemi";
	src: url("../styles/fonts/NimbusSansRound-SemiBold/font.woff") format("woff");
}

@font-face {
	font-family: "NimbusBold";
	src: url("../styles/fonts/NimbusSansRound-Black/font.woff") format("woff");
}
$navtext: #e8e8e8;
$prmtext: black;
$scdtext: white;

body {
	font-family: "NimbusSemi";
	font-size: 1.1rem;
	color: $prmtext;
	display: flex;
}

main,
nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: "NimbusBold";
	font-size: 3rem;
	text-align: center;

	&:hover {
		transform: none;
	}
}

ul a,
p,
footer,
h1 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 0.75em 0;
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}

p {
	margin: 10px 0;
}

img {
	padding: 0px 10px;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	// margin: 50px auto 0;
	// padding-top: 100px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	// width: 150px;
}

.gif {
	opacity: 0.8;
}
