@font-face {
	font-family: "NimbusSemi";
	src: url("../styles/fonts/NimbusSansRound-SemiBold/font.woff") format("woff");
}

@font-face {
	font-family: "NimbusBold";
	src: url("../styles/fonts/NimbusSansRound-Black/font.woff") format("woff");
}
$navtext: #e8e8e8;
$prmtext: black;
$scdtext: white;
$highlight: #7e00ef;

body {
	font-family: "NimbusSemi";
	font-size: 1.1rem;
	color: $prmtext;
	display: flex;
}

nav,
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	width: 70vw;
}
h1 {
	font-family: "NimbusBold";
	font-size: 3rem;
	text-align: center;
	word-wrap: break-word;
	padding: 0 10px;
}

ul a,
p,
footer,
h1 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: $prmtext;

	&:hover {
		font-weight: bold;
	}
}

li {
	margin: 0 10px;
}

p {
	margin: 10px 0;
}

.wrapper {
	width: 90%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.active {
	font-weight: bold;
	color: $highlight;
}

section {
	max-width: 75vw;
}
