@font-face {
	font-family: "NimbusSemi";
	src: url("../styles/fonts/NimbusSansRound-SemiBold/font.woff") format("woff");
}

@font-face {
	font-family: "NimbusBold";
	src: url("../styles/fonts/NimbusSansRound-Black/font.woff") format("woff");
}

body {
	font-family: "NimbusSemi";
	font-size: 1.1rem;
	display: flex;
}

h1 {
	font-family: "NimbusBold";
	font-size: 3rem;
}

ul a,
p {
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: black;
}

p {
	margin: 10px 0;
}

img {
	padding: 0px 10px;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

.clearfix {
	overflow: auto;
}
