/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 767px) {
	/* Hide hamburger menu/'button' */
	.menu-toggle,
	.main-menu .menu-close {
		display: none;
	}

	.main-menu {
		position: relative;
		left: auto;
		top: auto;
		background-color: $navtext;
		display: flex; /* allows for full height of menu */
		flex-direction: column;
		max-width: 25vw;
	}

	.main-menu a {
		border: 0 !important; /* Remove borders from off-canvas styling */
	}
	img {
		padding: 75px;
	}
}
// smaller screens
@media (max-width: 768px) {
	main {
		align-items: baseline;
	}
	.wrapper {
		// max-width: 768px;
		width: 100%;
	}
	img {
		padding: 50px;
	}
}
