//
/*
  ================================
  Larger screen styling
  ================================
*/

/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 768px) {
	/* Hide hamburger menu/'button' */
	.menu-toggle,
	.main-menu .menu-close {
		display: none;
	}

	/* Undo positioning of off-canvas menu */
	.main-menu {
		position: relative;
		left: auto;
		top: auto;
		background-color: $navtext;
		display: flex; /* allows for full height of menu */
		flex-direction: column;
	}

	.main-menu a {
		border: 0 !important; /* Remove borders from off-canvas styling */
	}
}
