/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 767px) {
	/* Hide hamburger menu/'button' */
	.menu-toggle,
	.main-menu .menu-close {
		display: none;
	}

	.main-menu {
		position: relative;
		left: auto;
		top: auto;
		background-color: $navtext;
		display: flex; /* allows for full height of menu */
		flex-direction: column;
		max-width: 25vw;
	}

	.main-menu a {
		border: 0 !important; /* Remove borders from off-canvas styling */
	}

	.sliderContainer {
		img {
			padding: 75px;
			padding-top: 0;
		}
	}
}
// smaller screens
@media (max-width: 768px) {
	main {
		align-items: baseline;
		width: 90vw;
	}
	.wrapper {
		width: 100%;
	}

	.sliderContainer {
		width: 90%;

		img {
			padding: 0 10px;
			padding-bottom: 75px;
		}
	}
}
