html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1,
.links {
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NimbusSemi";
  src: url("../styles/fonts/NimbusSansRound-SemiBold/font.woff") format("woff");
}

@font-face {
  font-family: "NimbusBold";
  src: url("../styles/fonts/NimbusSansRound-Black/font.woff") format("woff");
}

body {
  font-family: "NimbusSemi";
  font-size: 1.1rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav,
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  width: 70vw;
}

h1 {
  font-family: "NimbusBold";
  font-size: 3rem;
  text-align: center;
  word-wrap: break-word;
  padding: 0 10px;
}

ul a,
p,
footer,
h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

li {
  margin: 0 10px;
}

p {
  margin: 10px 0;
}

.wrapper {
  width: 90%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.active {
  font-weight: bold;
  color: #7e00ef;
}

section {
  max-width: 75vw;
}

header,
section {
  height: 100vh;
}

nav {
  position: absolute;
  display: none;
  left: -200px;
  /* push off the screen to the left for future animation */
  top: 0;
  height: 100vh;
  z-index: 999;
  max-width: 480px;
  background: #e8e8e8;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

nav a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
}

.icons {
  padding: 20px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  padding: 20px 0;
  text-align: center;
}

i {
  font-size: 20px;
  padding: 10px 5px;
}

.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
}

.main-menu a.menu-close {
  border-bottom: 0;
  color: black;
}

.main-menu .menu-close {
  position: absolute;
  right: 5px;
  top: 0;
}

.main-menu .menu-close span {
  color: black;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  /* slide from -200px to the left edge at 0 */
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: left 1s ease, -webkit-box-shadow 1s ease;
  transition: left 1s ease, -webkit-box-shadow 1s ease;
  transition: left 1s ease, box-shadow 1s ease;
  transition: left 1s ease, box-shadow 1s ease, -webkit-box-shadow 1s ease;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
  color: #554e4e;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 998;
  background: #e8e8e8;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

.sliderContainer {
  position: relative;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.sliderContainer img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: -100%;
  top: 0;
}

.sliderContainer img:first-child {
  position: relative;
  width: 100%;
  left: 0%;
  top: 0;
}

.nextCircle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.next {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 20;
}

.nextCircle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.fa.fa-arrow-right,
.fa.fa-arrow-left {
  font-size: 30px;
}

.prevCircle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.previous {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 20;
}

.prevCircle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.reel {
  width: 100%;
}

.reel .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 767px) {
  /* Hide hamburger menu/'button' */
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    background-color: #e8e8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* allows for full height of menu */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 25vw;
  }
  .main-menu a {
    border: 0 !important;
    /* Remove borders from off-canvas styling */
  }
  .sliderContainer img {
    padding: 75px;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  main {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 90vw;
  }
  .wrapper {
    width: 100%;
  }
  .sliderContainer {
    width: 90%;
  }
  .sliderContainer img {
    padding-bottom: 40px;
  }
}
